/* #Responsive Styles
================================================== */

/*
* Cootheme Responsive Stylesheet v1.0
* Responsive Stylesheet for Display on Devices
* Copyright 2013, Cootheme
*/

/* --------------------------------------------
	LARGE DISPLAYS
-------------------------------------------- */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.page-menu ul {
 	   margin-top: 10px;
	}
	.main-navigation ul > li {
	    padding: 10px 7px;
	}
	.main-navigation ul > li > a {
	    font-size: 13px;
	    padding: 0 15px 5px 0;
	}
	.b-search #sbc-submit {
		width: 95%;
	}
	footer .widget_nav_menu h3, footer .widget_text h3 {
		font-size: 13px !important;
		background-size: 35px !important;
		text-indent: 40px !important;
	}
	#nav_menu-3 ul, #nav_menu-4 ul, #nav_menu-5 ul, #nav_menu-6 ul, #nav_menu-7 ul, #nav_menu-8 ul {
		margin-left: 40px;
	}
	footer #text-3 .textwidget {
		font-size: 25px;
		margin-left: 40px;
	}
	.diachi h3 {
		font-size: 13px !important;
		background-size: 35px !important;
		padding-left: 40px;
	}
	.share .addthis_counter {
		width: 60px;
	}
	.share .addthis_toolbox {
		padding:12px 0 3px 5px;
	}
	.share .addthis_toolbox a {
		width: 96px;
	}
	.share p {
		padding: 12px 25px;
	}
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe {
   		width: 100% !important;
	}
		
}

@media only screen and (min-width: 1250px) {
	
	
}

@media only screen and (min-width: 1500px) {
	
}

@media only screen and (min-width: 1980px) {


}

@media only screen and (min-width: 992px) {
	
}

/* --------------------------------------------
	iPAD/TABLET LANDSCAPE
-------------------------------------------- */

@media only screen and (max-width: 1024px) {
	
	
}

/* --------------------------------------------
	iPAD/TABLET PORTRAIT
-------------------------------------------- */

@media only screen and (max-width: 991px) {
	.top-header .social {
		padding-right: 0;
	}
	.top-header .page-menu{
		padding-left: 0;
	}
	.top-header .page-menu ul {
		margin-top: 10px;
	}
	.account a img {
	    padding: 7px 6px 0 0;
	}
	.account {
	    margin-bottom: 30px;
	}
	.logo img {
		max-width: 100%;
	}
	#sbc-search .multi-cat {
		width: 60%;
	}
	.main-navigation ul {
		text-align: center;
	}
	.main-navigation ul > li {
		float: none !important;
		display: inline-block !important;
	}
	.main-navigation ul > li > a {
		border: 0;
	}
	.social {
		display: none;
	}
	.page-menu {
		padding: 0;
	}
	.page-menu ul li a {
		padding-right: 6px;
	}
	.page-menu ul li a:before {
		margin-right: 8px;
	}
	.top-header .page-menu ul {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {	
	.diachiso {
	    margin-top: 20px;
	}
	.diachi h3 {
		background-size: 40px;
		font-size: 14px;
		line-height: 26px;
		padding-left: 45px;
	}
	.share .addthis_toolbox {
		padding: 14px 0 7px 28px;
	}
	.share .addthis_toolbox .addthis_button_pinterest_pinit, .share .addthis_button_tweet  {
		display: none;
	}
	.litst-details li:last-child {
		padding-right: 0;
	}

}


/* --------------------------------------------
	iPHONE LANDSCAPE
-------------------------------------------- */

@media only screen and (max-width: 767px) {
	.navbar-brand {
		display: block;
		color: #fff;
	}
	.navbar-brand:hover {
		color: #000;
	}
	.navbar-toggle:after {
	    color: #FFFFFF;
	    content: "";
	    font-family: "SSGizmo";
	    font-size: 33px;
	    position: absolute;
	    right: -2px;
	    top: -2px;
	}
	.main-navigation ul > li {
		display: block !important;
		float: inherit !important;
	}
	.main-navigation ul > li a {
		color: #fff;
	}
	.main-navigation ul {
		text-align: left;
		border: 0;
		background: #17A1EF;
		margin-top: 0;
		padding-top: 0;
	}
	.main-navigation ul > li:first-child > a {
		background: none;
		font-size: 14px;
	}
	.account {
		width: 193px;
		margin: 0 auto;
	}
	.logo {
		width: 250px;
		margin: 0 auto;
	}
	.b-search #sbc-submit {
		margin-left: 3px;
	}

}

/* --------------------------------------------
	iPHONE PORTRAIT
-------------------------------------------- */

@media only screen and (max-width: 479px) {
	#sbc-search .multi-cat {
	    width: 50%;
	}
	footer div {
		width: 100% !important;
	}
	.share p {
		margin-bottom: 0;
	}
}