<?xml version="1.0"?>
<!--
/**
* @category    MT
* @package     MT_DiscountFilter
* @copyright   Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      MagentoThemes.net
* @email       support@magentothemes.net
*/
-->
<config>
    <modules>
        <MT_DiscountFilter>
            <version>1.0</version>
        </MT_DiscountFilter>
    </modules>

    <global>
        <models>
            <discountfilter>
                <class>MT_DiscountFilter_Model</class>
                <resourceModel>discountfilter_resource</resourceModel>
            </discountfilter>
            <discountfilter_resource>
                <class>MT_DiscountFilter_Model_Resource</class>
            </discountfilter_resource>
        </models>
        <helpers>
            <discountfilter>
                <class>MT_DiscountFilter_Helper</class>
            </discountfilter>
        </helpers>
        <blocks>
            <discountfilter>
                <class>MT_DiscountFilter_Block</class>
            </discountfilter>
        </blocks>
        <events>
            <mtfilter_prepare_layout>
                <observers>
                    <discountfilter>
                        <type>singleton</type>
                        <class>discountfilter/observer</class>
                        <method>mtfilterPrepareLayout</method>
                    </discountfilter>
                </observers>
            </mtfilter_prepare_layout>
            <mtsearch_prepare_layout>
                <observers>
                    <discountfilter>
                        <type>singleton</type>
                        <class>discountfilter/observer</class>
                        <method>mtsearchPrepareLayout</method>
                    </discountfilter>
                </observers>
            </mtsearch_prepare_layout>
        </events>
    </global>

    <default>
        <discountfilter>
            <general>
                <enable>1</enable>
                <result>0</result>
            </general>
        </discountfilter>
    </default>
</config>