.idea
app/code/core
app/design/install
app/design/frontend/base
app/design/frontend/default
app/etc/local.xml*
app/locale/en_US
downloader
errors
includes
js/calendar
js/extjs
js/flash
js/jscolor
js/lib
js/mage
js/prototype
js/scriptaculous
js/tiny_mce
js/varien
lib
pkginfo
skin/install
skin/frontend/base
skin/frontend/default
var
