<?xml version="1.0"?>
<!--
/**
* @category    MT
* @package     MT_RatingFilter
* @copyright   Copyright (C) 2014 MagentoThemes.net. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      MagentoThemes.net
* @email       support@magentothemes.net
*/
-->
<config>
    <modules>
        <MT_RatingFilter>
            <version>1.0</version>
        </MT_RatingFilter>
    </modules>

    <global>
        <models>
            <ratingfilter>
                <class>MT_RatingFilter_Model</class>
                <resourceModel>ratingfilter_resource</resourceModel>
            </ratingfilter>
            <ratingfilter_resource>
                <class>MT_RatingFilter_Model_Resource</class>
            </ratingfilter_resource>
        </models>
        <helpers>
            <ratingfilter>
                <class>MT_RatingFilter_Helper</class>
            </ratingfilter>
        </helpers>
        <blocks>
            <ratingfilter>
                <class>MT_RatingFilter_Block</class>
            </ratingfilter>
        </blocks>
        <events>
            <mtfilter_prepare_layout>
                <observers>
                    <ratingfilter>
                        <type>singleton</type>
                        <class>ratingfilter/observer</class>
                        <method>mtfilterPrepareLayout</method>
                    </ratingfilter>
                </observers>
            </mtfilter_prepare_layout>
            <mtsearch_prepare_layout>
                <observers>
                    <ratingfilter>
                        <type>singleton</type>
                        <class>ratingfilter/observer</class>
                        <method>mtsearchPrepareLayout</method>
                    </ratingfilter>
                </observers>
            </mtsearch_prepare_layout>
            <mt_review_approved>
                <observers>
                    <ratingfilter>
                        <type>singleton</type>
                        <class>ratingfilter/observer</class>
                        <method>reindexProduct</method>
                    </ratingfilter>
                </observers>
            </mt_review_approved>
            <mt_review_removed>
                <observers>
                    <ratingfilter>
                        <type>singleton</type>
                        <class>ratingfilter/observer</class>
                        <method>reindexProduct</method>
                    </ratingfilter>
                </observers>
            </mt_review_removed>
        </events>
    </global>

    <frontend>
        <translate>
            <modules>
                <ratingfilter>
                    <files>
                        <default>MT_RatingFilter.csv</default>
                    </files>
                </ratingfilter>
            </modules>
        </translate>
    </frontend>

    <default>
        <ratingfilter>
            <general>
                <enable>1</enable>
                <result>0</result>
            </general>
        </ratingfilter>
    </default>
</config>