<?xml version="1.0"?>
<!--
/**
* @category    MT
* @package     MT_RatingFilter
* @copyright   Copyright (C) 2014 MagentoThemes.net. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      MagentoThemes.net
* @email       support@magentothemes.net
*/
-->
<config>
    <sections>
        <ratingfilter translate="label">
            <label>MT Rating Filter</label>
            <tab>mtext</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label comment">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Show rating filter in layer navigation</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <result translate="label comment">
                            <label>With Results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Only show with results</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </result>
                    </fields>
                </general>
            </groups>
        </ratingfilter>
    </sections>
</config>