/**STYLE DRILLMENU**/
.mt-drillmenu {
    float: left !important;
    margin-left: 0 !important;
    width: 100% !important;
}
.nav-accordion { width: 100%; }
ul.nav-accordion {
    line-height: 0.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.nav-accordion li.level0.first { border-top : none ;} 
ul.nav-accordion li {
    background: #FFFFFF;
    position: relative;
	border-top: 1px solid #f0f0f0 ;
	margin: 1px 0 ;
}
ul.nav-accordion li.active  a{
    color: #3e3030 ;
} 
ul.nav-accordion li a , ul.nav-accordion li.level0 ul li a    {
    display: block;
    font-size: 115%;
    height: 35px;
    line-height: 35px;
    margin: 0;
    padding: 0 12px ;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
	color: #5d5d5d;
}
 ul.nav-accordion li.level0 ul li a  { padding-left : 20px;}
ul.nav-accordion ul {
    margin: 0;
    padding: 0;
}
ul.nav-accordion ul li {
    clear: both;
    margin:1px 0 0;
    padding: 0;
}

ul.nav-accordion ul li  ul li{
    clear: both;
    margin:1px 0 0;
    padding: 0;
	border-left: none;
}
ul.nav-accordion ul li a {
    font-size: 120%;
    outline: none;
    padding-left: 30px;
	color: #5d5d5d ;
	font-weight:300;
}
ul.nav-accordion ul li.active { font-weight: lighter;  }
ul.nav-accordion ul ul li a {
    padding-left: 40px;
}
ul.nav-accordion ul ul ul li a { padding-left: 40px; }
ul.nav-accordion ul ul li a:hover {  }

ul.nav-accordion li span.expand {
    background-position: 0 3px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 9px;
    position: absolute;
    right: 12px;
    text-indent: -9999px;
    top: 10px;
    width: 9px;
    z-index: 9;
}
ul.nav-accordion li span.collapse {
    background-position: 0 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 9px;
    position: absolute;
    right: 12px;
    text-indent: -9999px;
    top: 10px;
    width: 9px;
    z-index: 9;
}
ul.detail-parent {
    margin: 0px;
    padding: 0 0 0 17px;
}
.navbar {
    float: left;
    z-index: 5;
    border: none;
}
.navbar-inverse {
    background-color: inherit;
    border-color: none !important;
}
.navbar-inverse .navbar-toggle {
    border-color: #505050 !important;
    border: none;
    border-radius: 0 0 0 0;
    cursor: pointer;
    padding: 15px 0px 15px 7px;
}
.navbar .btn-navbar {
    background-image: none !important;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none !important;
    float: left !important;
    margin: 9px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.navbar .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #474646;
}
.navbar .navbar-toggle:hover {
    background-color: inherit;
}
.navbar .brand {
    font-size: 130% !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding-left: 20px !important;
    text-shadow: none !important;
    text-transform: uppercase !important;
}
.navbar .btn-navbar .icon-bar { background-color: #FFFFFF !important; }
ul.nav-accordion li.level0 > a > span > .cat-label {
    position: inherit;
}
ul.nav-accordion li.level0 > a > span > .pin-bottom:before {
    position: inherit;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 0px;
}
ul.nav-accordion li span.expand {
    background-image: url(../images/accordion/up.png);
}
ul.nav-accordion li span.collapse {
    background-image: url(../images/accordion/down.png);
}
/**END STYLE DRILLMENU**/

/*Sidebar Menu mt-effect-slide mt-menu-open*/
    .mt-container {
		position: relative;
		overflow: hidden;
    }
    .mt-wrapper {
		position: relative;
		left: 0;
		z-index: 99;
		height: 100%;
		-webkit-transition: -webkit-transform 0.5s;
		-o-transition: transform 0.5s;
		transition: transform 0.5s;
        overflow: hidden;
    }
    .mt-wrapper::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		background: rgba(0,0,0,0.2);
		content: '';
		opacity: 0;
		-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
		transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
		-o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
		}
    .mt-menu-open .mt-wrapper::after {
		width: 100%;
		height: 100%;
		opacity: 1;
		-webkit-transition: opacity 0.5s;
		transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
    }
    .mt-menu {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		visibility: hidden;
		width: 250px;
		height: 100%;
		background: #2d2d2d;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		-o-transition: all 0.5s;
		overflow: auto;
    }
    .mt-menu .mt-menu-title {
    border-bottom: #dfdfdf solid 1px;
	  text-transform: uppercase;
    }
    .mt-menu .mt-menu-title h3 {
    color: #fff;
    padding: 0 0 0 29px;
    }
    .mt-menu-open .mt-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    -o-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    }
    /* Effect:Slide along */
    .mt-effect-slide.mt-menu-open .mt-wrapper {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    }

    .mt-effect-slide.mt-menu {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -o-transition: translate3d(-100%, 0, 0);
    }

    .mt-effect-slide.mt-menu-open .mt-effect-slide.mt-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -o-transition: translate3d(0, 0, 0);
    }

    .mt-effect-slide.mt-menu::after {
    display: none;
    }
    .mt-effect-slide.mt-menu-open .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    left: 250px;
    z-index: 9999;
    }
	.mt-menu .navbar-header .navbar-toggle .icon-bar {
		background-color: #FFFFFF;
		height: 3px;
		margin: 4px 0  ;
		width: 22px;
	}
	.mt-menu .navbar-header .collapsed-icon {
		float: left;
		margin: 9px 0 0;
	}
	.mt-menu .mt-menu-active {
		background: none repeat scroll 0 0 #1F1F1F;
		border-bottom: 1px solid #474747;
		display: block;
		overflow: hidden;
		padding: 0 15px;
		cursor: pointer ;
	}
	.mt-menu .mt-menu-active .navbar-toggle {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.mt-menu .navbar-header {
		margin: 12px 0;
		text-align: left;
		float: none ;
	}
	.mt-menu .mt-menu-active .navbar-toggle {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.mt-menu .mt-menu-active .navbar { 
	   background: none  !important;
	   line-height: 45px;
		margin-bottom: 0 !important;
		min-height: 45px !important;
	}
	.mt-menu .mt-menu-active .navbar-toggle {
	   padding-left: 0 !important ;
	    padding-right: 0 !important ;
	}
	.mt-menu .mt-menu-active .navbar-toggle .icon-bar { 
	   border-radius: 0 !important ;
	}
	.title-canvas {
		color: #FFFFFF;
		font-size: 120%;
		line-height: 36px;
		margin-left: 9px;
		text-transform: uppercase;
	}
	.mt-menu-active .mt-close-canvas {
		background: url("../images/close-canvas-menu.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		border: medium none;
		float: right;
		height: 16px;
		width: 17px;
		margin: 13px 0 0;
	}
	.mt-menu .sidebar ul.nav-accordion li  { background: none; border: none ;}
	.mt-menu ul.nav-accordion li a {
    color: #FFFFFF;
    font-size: 14px;
    margin: 0;
    padding-left: 15px;
}
.mt-menu a {
    border-bottom: 1px solid #565656;
    color: #FFFFFF;
}
.mt-menu ul.nav-accordion ul li a {
   padding-left: 20px;
}
.mt-menu ul.nav-accordion ul ul li a {
   padding-left: 25px;
}
.mt-menu ul.nav-accordion ul ul ul li a { padding-left: 30px; } 
.mt-menu ul.nav-accordion ul ul ul ul li a { padding-left: 35px; } 
.mt-menu ul.nav-accordion li span.collapse, 
.mt-menu ul.nav-accordion li span.expand {
    height: 30px;
    right: 3px;
    top: 2px;
    width: 30px;
}
.mt-menu ul.nav-accordion li span.collapse {
    background-position: 50% 50%;
}
.mt-menu ul.nav-accordion li span.collapse {
    background-image: url("../images/opener.png");
}
.mt-menu ul.nav-accordion li span.expand {
    background-position: 50% 50%;
}
.mt-menu ul.nav-accordion li span.expand {
    background-image: url("../images/opener-active.png");
}