<?xml version="1.0"?>
<!--
/**
 * @category    MT
 * @package     MT_Collection
 * @copyright   Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
 * @license     GNU General Public License version 2 or later
 * @author      MagentoThemes.net
 * @email       support@magentothemes.net
 */
-->
<config>
    <modules>
        <MT_Collection>
            <version>1.0</version>
        </MT_Collection>
    </modules>

    <global>
        <blocks>
            <mtcollection>
                <class>MT_Collection_Block</class>
            </mtcollection>
        </blocks>
        <helpers>
            <mtcollection>
                <class>MT_Collection_Helper</class>
            </mtcollection>
        </helpers>
        <models>
            <mtcollection>
                <class>MT_Collection_Model</class>
            </mtcollection>
        </models>
    </global>

    <frontend>
        <routers>
            <collection>
                <use>standard</use>
                <args>
                    <module>MT_Collection</module>
                    <frontName>collection</frontName>
                </args>
            </collection>
        </routers>
        <layout>
            <updates>
                <mtcollection>
                    <file>mt_collection.xml</file>
                </mtcollection>
            </updates>
        </layout>
        <translate>
            <modules>
                <MT_Collection>
                    <files>
                        <default>MT_Collection.csv</default>
                    </files>
                </MT_Collection>
            </modules>
        </translate>
    </frontend>

    <default>
        <mtfilter>
            <collection>
                <price>1</price>
                <enable>1</enable>
                <main_selector>.col-main</main_selector>
                <layer_selector>.block-layered-nav</layer_selector>
            </collection>
        </mtfilter>
    </default>
</config>