.footer-top {background: #f8f8f8 ; float: left ; width: 100% ; }
.footer-top .footer-top-inner {float: left ;padding: 20px 0; width: 100% ;}
.footer-top .left-ft-top {background: #f8f8f8 ; position: relative ; }
.footer-top .left-inner {
    background-image:url("../images/left-footer-top.png");
    background-position:center center;
    background-repeat:no-repeat;
    position: absolute;
    width: 67px;
    height: 126px;
    left: 0;
    top: -65px;
}
.footer-top .left-ft-top  h2{ margin:0 ; padding:0 0 0 70px ; line-height: 40px; color: #525252 ; text-transform: uppercase ; font-size: 160% ; }
.footer-top .left-ft-top  p{ line-height: 30px; margin:0 ; padding: 0 0 0 70px; color: #525252 ; text-transform: none ; font-size: 95% ; font-weight: lighter ; }
.footer-top .input-box {float: left ;}
.footer-top .actions {float: left ; margin: 3px 0 0 ;}
.footer-top .block-content{float: right ; padding: 12px 0 ;}
.footer-top .block-subscribe {
    border: medium none;
    margin: 0;
    padding: 0;
}
.footer-top .block-subscribe .block-content .input-box input.input-text {
    border: 1px solid #e9e9e9 ;
    background: #f1f1f1 ;
    padding: 3px 5px;
    border-radius: 3px 0 0 3px;
    color: #7A6F6F;
    height: 40px;
    line-height: 30px;
    width: 200px;
}

.footer-center {
    background-image:url("../images/bgFooter.png");
    background-position:0 0 ;
    background-repeat:repeat-x;
    margin: -10px 0 0;
    padding: 20px 0 0;
    position: relative;
    z-index: 2;
    float: left ;
    width:  100%;
}
.footer-center-inner { padding: 50px 0  ; background-color: #0095d6 ; }
.footer-center ul { list-style: none ;}
.footer-center ul li a {  font-size: 90% ; font-weight: lighter ;}
.footer-center a, .footer-center h2 , .footer-center span  { color: #fff; font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif ;}
.footer-center h2 { font-size: 90% ; font-weight: bold; margin: 0 0 8px;}
.footer-center span{ font-size: 220%;}
.footer-center .items{ border-left: 1px dashed #63adda; height: 165px;}
.footer-center .first{ border-left: none;}
.footer-center .items .block em{
     background-image : url("../images/bgIcons.png");
     background-position:0 0 ;
     background-repeat:no-repeat;
    display: block;
    float: left;
    height: 33px;
    margin: -8px 12px 0 0;
    width: 33px;
}
.footer-center .items .block.ft-tong-dai em{
     background-position: -66px -33px;
}
.footer-center .items .block.block-gt em{
     background-position:-99px -33px;
}
.footer-center .items .block.block-hd em{
     background-position: 0 -66px;
}
.footer-center .items .block.block-vc em{
     background-position: -33px 0;
}
.footer-center .items .block-inner {

    display: inline-block;
}
.footer-center .read  {
    margin: 7px 0 0;
}
.footer-center .read a{
    background-image: url("../images/iconft.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 90%;
    padding: 0 20px 0 0;
}
.footer-bottom  {
    float: left ;
    width:  100%;
}
.footer-bottom .footer-bt-inner { padding: 8px 0 50px;}
.footer-bottom  h2  { display: inline-block ; font-size: 90% ; font-weight: bold; margin: 0 0 8px ; color: #fff ; font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif ;}
.footer-bottom  p  {display: inline-block ;  font-size: 90% ; font-weight: lighter; color: #fff ; font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif ;}
.footer-bottom .kidplaza { float: left ; width :100% ;}
.footer-bottom .kidplaza em {
    background-image : url("../images/bgIcons.png");
    background-position:0 0 ;
    background-repeat:no-repeat;
    display: block;
    float: left;
    height: 33px;
    margin: -8px 12px 0 0;
    width: 33px;
}
.footer-bottom .kidplaza.kidshn { margin: 0 0 10px;}
.footer-bottom .kidplaza.kidshn em { background-position: -33px -66px ; }
.footer-bottom .kidplaza.kidshcm em { background-position:-66px -66px; }
.footer-bottom .kidshn .kids {
   float: left ;
   display: block;
}
.footer-bottom .kidshcm .kids {
   float: left ;
   display: block;
}
.footer-bottom .kidplaza .kids { margin: 0 45px 0 10px;}
.footer-bottom .kidplaza.kidshcm  .kids.first {padding: 0 20px 0 0;}
.footer-bottom .kidplaza .kids.first{
    background: url("../images/tick-kids.png") 100% 50%  no-repeat ;
    padding: 0 53px 0 0;
    margin: 0;
}
.footer-coppyright { float: left ; width:  100% ;}
.footer-coppyright  .footer-coppyright-inner
{
    background:#4d4d4d ;
    padding: 15px 0;
}
.footer-coppyright  .footer-coppyright-inner address
{
    margin: 0 ;
    color: #fff;
}
.footer-coppyright  .footer-coppyright-inner a ,
.footer-coppyright  .footer-coppyright-inner p
{
    margin: 0 ;
    color: #fff;
}
