@media (min-width: 1200px) {

}
@media (min-width: 960px) and (max-width: 1200px) {
    /*.top-login { width: 47px;  float: right ; border: none;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ;outline: none; height: 47px ; display: inline-block ;}
    .top-login .font { padding: 0 12px; width: 23%; }
    .top-login .font .glyphicon { font-size: 170%; }*/
    .social-links li { margin: 0;   height: 25px;width: 23px;}
    .top-location .btn-group { float: right ; }
    .top-location i {left: 120px; }
    .top-cart { right: 0;}
    .sticky-wrapper .mt-menu-top {margin: 0 0 20px;}
    #megamenu ul li a {font-size: 70% !important;  padding: 0 5px 0 7px !important;}
    #megamenu div.childcontent ul li { padding: 0 !important;}
    #megamenu div.childcontent ul li a { font-size: 80% !important ; padding: 0 !important;}
    #megamenu div.childcontent ul li span.cat-summary {font-size: 80% !important; }
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ; padding-right: 12px !important;}

    .deals-wrapper li.deal-item .deal-item-inner {display: block;}
    .deals-wrapper li.deal-item .deal-item-inner .deal-item-percent {font-size: 30px ;}
    .deals-wrapper li.deal-item .deal-item-inner img  {width: 100% ;}

    .slider-product-wrapper .bordered-tab .title .btn-kid {font-size: 65% ;}
    .slider-product-wrapper .bordered-tab .title .btn-view {font-size: 90% ;}
    .slider-product-wrapper .nav-tabs li { padding: 0 5px 7px;}

    .sidebar .panel-heading h3 {font-size: 100% ;}

    .product-view .product-image {width: 81%;}
    .product-view .video-item ,
    .product-view .video-list { padding:0 ;}
    .product-view .video-item img { width: 30%;}
    .product-view .tracker {width: 367px !important; z-index: 999}
    .upsell-carousel-wrapper .btn-group a.btn-next { right : 5px !important;}


    .btn-login {font-size: 11px;}
    .table-striped > tbody > tr td .glyphicon { line-height: 0; display: inline ;}

    .footer-center .items .block em {margin: -8px 8px 0 0 ;}
    .footer-coppyright .footer-coppyright-inner address {font-size: 85% ;}
    .footer-coppyright-inner .social-links {margin: 0;}


    .dropdown-menu {left: -25px;}

    .col-right .block-blogs li { padding: 14px 0;}

    .category-products > .btn-group a.btn-next {right: 0;}
    .products-grid .owl-wrapper-outer .owl-item .item .price-box .price {font-size: 12px;}
    .category-products > .btn-group a.btn-next { right : 0;}
    .top-banner li a {font-size: 86% ;}

    .product-view #product-related .relared-price {margin: 20px 0 ;}
    .footer-coppyright .footer-coppyright-inner p {text-align: left ;}
    .top-banner { margin: 0 auto ;}

    .top-links {margin: 0 0 0 30px;}
}
@media (min-width: 980px) and (max-width: 1280px) {

    .top-banner {margin: 0 auto  ;}
    .top-banner li {text-align: center ; padding: 0;}
    .sticky-wrapper { float: none; display: inline; }

    .slider-product-wrapper .bordered-tab .title .utm-cookies {font-size: 70% ;  margin: 4px 2px 0px 0 !important; }
    .slider-product-wrapper .nav-tabs li { padding: 0 5px 7px;}
    .slider-product-wrapper .nav-tabs li a {font-size: 80%}

    .category-products .products-grid .product-name { font-size: 11px;}
    .footer-top .block-subscribe {float: left !important;margin: 20px 70px 10px;}

    .cart {float: left ; width: 100% ;}


}
@media (min-width: 981px) and (max-iwdth: 1024px) {
    .top-links li a ,
    .top-links strong{font-size: 80% ;}

    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ;}
    .top-login .font { padding: 0 12px; width: 23%; }
    .toplogin .popover  { left: -5px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
}
@media (max-width: 980px) {

    .grid-5 li {width: 32%;}
    .header-top .header-top-inner .col-lg-6 {padding-left: 10px !important; margin: 0 0 20px;}

    .top-links li a ,
    .top-links strong{font-size: 80% ;}
    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ; border: none ;}
    .toplogin .popover  { left: 10px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
    .header-top-right {width: 105px;}

    .top-location i {left: 180px;}
    .filter-item .badge {font-size: 60% ; padding: 2px;}
    .filter-item a.filter-item-name { font-size: 70%;}
    .sidebar .panel-info.list-js .panel-heading h3 { width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search { left: 0;  right: auto; top: 35px; width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search-icon {    right: 0;top: 26px;}
    .sidebar .panel-info.list-js  .panel-body {  padding: 30px 0 10px;}

    #megamenu ul li a {font-size: 51% !important;  padding: 0 5px 0 7px !important;}
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ;}
    .sticky-wrapper .mt-menu-top {margin: 0 0 20px;}

    .product-view .video-item,
    .product-view .video-list {padding : 10px;}
    .product-view .product-shop .page-title {float: left ;}


    .table-striped > tbody > tr td .glyphicon { line-height: 0; display: inline ;}


}
@media (min-width: 768px) and (max-width: 991px) {
    .header-bot {height: auto ;}
    .header-top .header-top-inner .col-lg-6 {padding-left: 10px !important; margin: 0 0 20px;}
    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ;}
    .top-login .font { padding: 0 12px; width: 23%; }
    .top-links li a {font-size: 80%;}
    .toplogin .popover  { left: -5px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
    .top-location .btn-group { float: right ; }
    .top-location i {left: 170px; }
    .top-cart {display: inline-block; right: 0; width: 47px; left: auto;}
    .top-banner {margin: 30px 0  ;}
    .top-banner li {text-align: left ; padding: 0;}
    .sticky-wrapper {float: left ; width: 100% ; }
    .header-top-right {width: 103px;}
    header .mt-menu-top {margin: 0 0 20px;}
    #megamenu ul li a {font-size: 51% !important;  padding: 0 5px 0 7px !important;}
    #megamenu div.childcontent ul li { padding: 0 !important;}
    #megamenu div.childcontent ul li a { font-size: 80% !important ; padding: 0 !important;}
    #megamenu div.childcontent ul li span.cat-summary {font-size: 80% !important; }
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ; padding-right: 12px !important;}

    .slider-product-wrapper .bordered-tab .title .utm-cookies {font-size: 50% ; line-height: 25px; padding: 2px 5px; margin: 4px 2px 0px 0 !important; }
    .slider-product-wrapper .nav-tabs li { padding: 0 2px 7px;}
    .slider-product-wrapper .nav-tabs li a {font-size: 80%}

    .deals-wrapper li.deal-item .deal-item-inner {display: block;}
    .deals-wrapper li.deal-item .deal-item-inner .deal-item-percent {font-size: 30px ;}
    .deals-wrapper li.deal-item .deal-item-inner img  {width: 100% ;}

    .grid-5 li {width: 32%;}
    .tabs {padding: 0;}

    .col-right .block-blogs li {padding: 10px 0;}

    .product-view .product-shop .page-title {float: left ;}

    .filter-item .badge {font-size: 60% ; padding: 2px;}
    .filter-item a.filter-item-name { font-size: 70%;}
    .sidebar .panel-info.list-js .panel-heading h3 { width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search { left: 0;  right: auto; top: 35px; width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search-icon {    right: 0;top: 26px;}
    .sidebar .panel-info.list-js  .panel-body {  padding: 30px 0 10px;}

    .btn-login {font-size: 11px;}
    .account-login .buttons-set {padding: 20px 10px 42px ;}
    .account-login .account-create .form-list label { width: 30%;  }
    .account-login .buttons-set a.f-right {width: 75px; font-size: 65% ;}
    .col2-set-right .btn-login {padding: 4px;}

    .footer-coppyright-inner .social-links {float: left;}
    .footer-top .block-subscribe {margin: 20px 0 10px;float: left !important;   }

    .products-grid .owl-wrapper-outer .owl-item .item .product-name {margin: 10px 0 0;}
    .products-grid .owl-wrapper-outer .owl-item .item .price-box .old-price .price {font-size: 80%;}

    .upsell-carousel-wrapper .btn-group a.btn-next { right : 5px !important;}
    .category-carousel-wrapper .btn-group a.btn-next {right: 5px !important;}

    .products-grid li.item, .products-grid .item {height: 255px !important;}
    .category-products.root-category .products-grid .item ul li a {font-size: 10px;}

    .table-striped > tbody > tr td .glyphicon { line-height: 0; display: inline ;}

    table#checkout-review-table {
        outline:none;
        border:0;
    }
    table#checkout-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#checkout-review-table tr.last th.last { border-bottom:1px solid #dddddd; }
    table#super-product-table td{
        display:block;
        float:none;
        text-align:center;
        padding:5px;
    }

    .product-view .product-shop {
        float: left;
        padding-left: 20px;
    }

    .col-right .block-blogs li a.img {width: 60px ;}
    .col-right .block-blogs li .right-blogs {
        float: left;
        width: 50%;
    }
    .header-mid .dropdown-menu {
        left: auto;
        right: 0px;
    }
    .header-mid #search_mini_form .dropdown-menu {left: 0;}
    .products-grid .owl-wrapper-outer .owl-item .item .price-box .price {
        color: #FF3D70;
        font-size: 12px;
    }

    .product-view #product-related .relared-price {margin: 20px 0 ;}

    .footer-coppyright .footer-coppyright-inner p {text-align: left ;}


}

@media (max-width: 900px) {
    .sticky-wrapper { float: none;}

    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ; border: none ;}
    .toplogin .popover  { left: 10px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
    .header-top-right {width: 105px;}
}
@media (max-width: 767px) {

    .header-bot {height: auto ;}
    .header-top .header-top-inner .col-lg-6 {padding-left: 10px !important; margin: 0 0 20px;}
    .social-links, .top-links {
        height: auto;
    }
    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ; border: none ;}
    .toplogin .popover  { left: 10px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
    .header-top-right {width: 105px;}
    .header-top-right .vr{border: none ;}
    .top-banner li {width: 50% ; text-align: left ;}
    .home-combo-carousel-wrapper  .owl-item .item .product-name {font-size: 12px;}
    .header-top .header-top-inner .col-lg-3 {margin: 20px 0 0 ;}
    .slider-product-wrapper .nav-tabs-wrapper .nav-tabs { float: left;}

    .header-top .header-top-inner .col-lg-6{ padding-left: 15px !important;}

    .product-view .product-shop {padding: 0 20px;}
    .login-form .col2-set-left {padding: 0 0 20px; }
    .tabs {padding: 0;}
    .slider-product-wrapper .bordered-tab .utm-cookies {height: 32px;}
    .toolbar {height: auto ;}
    .toolbar .toolbar-view {margin: 20px 0 0 ;}
    .footer-coppyright-inner .social-links {float: left; margin: 20px 0 0;}

    .navbar-inverse .navbar-toggle { margin-top: 12px;}
    .top-cart {width: auto ;}

    .cart .form-control {text-align: center ; }
    #wishlist-table .buttons-set { text-align: center ;}
    .cart .input-group {margin: 15px auto 0;}
    .cart tfoot .btn.btn-update {float: none !important ;}
    .cart tfoot .btn-ribbon {display: block ; text-align: center ; margin: auto ;}
    /*table#checkout-review-table {
        outline:none;
        border:0;
    }
    table#checkout-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#checkout-review-table tr.last th.last { border-bottom:1px solid #dddddd; }*/
    table#super-product-table td{
        display:block;
        float:none;
        text-align:center;
        padding:5px;
    }

    table#product-review-table {
        outline:none;
        border:0;
    }
    table#product-review-table td.last { border-right:1px solid #dddddd; }
    table#product-review-table td {  padding: 4px;}
    table#product-review-table td input.radio { }
    table#product-review-table th.last { border-right:1px solid #dddddd; }
    table#product-review-table th {
        display:block;
        float:none;
        text-align:center;
        border-right:0;
        border:1px solid #dddddd;
        padding:7px;
    }
    table#product-review-table tr.last td { border-bottom:1px solid #dddddd; }
    table#product-review-table tr.last th { border-bottom:1px solid #dddddd; }
    .table-bordered td {
        border-left:1px solid #dddddd;
        border-right:1px solid #dddddd;
    }
    .table-bordered th {
        border-left:1px solid #dddddd;
        border-right:1px solid #dddddd;
    }
    table { width:100%; }
    table#wishlist-table {
        outline:none;
        border:0;
    }
    table#wishlist-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#wishlist-table th table#product-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#my-orders-table {
        outline:none;
        border:0;
    }
    table#my-orders-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#my-orders-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#my-orders-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#shopping-cart-table {
        outline:none;
        border:0;
    }
    table#shopping-cart-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#shopping-cart-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#multiship-addresses-table {
        outline:none;
        border:0;
    }
    table#multiship-addresses-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#multiship-addresses-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#multiship-addresses-table  select { padding: 0 ;}
    .multiple-checkout h3, .multiple-checkout h4 { font-size: 70%}
    .cart #shopping-cart-table .button.btn-empty {float: none ;}
    .cart #shopping-cart-table .button {
        display: inline;
        float: none;
        margin-left: 10px;
        margin-top: 10px;
    }
    .checkout-progress li {width: 100% ; margin: 0 0 10px ;}
    #multiship-addresses-table td .btn-remove2 { display: inline-block ;}
    .opc li { padding-left: 0;}

    .footer-top .footer-top-inner .col-lg-4 .block-subscribe { margin:20px 0 0;float: left !important;}
    .footer-center-inner .items {margin: 0 0 20px;}

    .product-view .btn-cart {font-size: 140% ; margin: 20px 0 0;}
    .catalog-product-view .product-image img {width: 100% ;}
    .footer-coppyright .footer-coppyright-inner p {text-align: left ;}

    #undefined-sticky-wrapper {display: none ;}


    .acc { display:none; margin-left: 32px;}
    .accordion-footer.accordion-show {
        background:url("../images/opener.png") 100% 70% no-repeat;
        border:0 none;
        width:70px;
        padding:0;
        text-indent:-99999px;
        position:absolute;
        top:0;
        right:0;
        cursor:pointer;
    }

    .accordion-footer {
        background: url("../images/opener-active.png") no-repeat scroll 100% 70%;
        border: 0 none;
        cursor: pointer;
        padding: 0;
        position: absolute;
        right: 0;
        text-indent: -99999px;
        top: 0;
        width: 70px;
    }
    .footer-center .items .block-inner {display: inline ; }
    .footer-center .read {
        float: left;
        margin: 10px 0 10px 33px;
    }
    .footer-bottom  .accordion-footer.accordion-show  ,.footer-bottom .accordion-footer{
        right: -15px;
        background-position: 100% 50% ;
    }
    .footer-bottom .block h3 {line-height: 25px; width: 230px;}
    .footer-bottom .block ul {
        float: left;
        margin: 10px 0 ;
    }
    .footer-bottom .acc {
        float: left;
        margin: 0;
        width: 100%;
    }
    table#shopping-cart-table .a-moblie { border-bottom:  1px solid #DEDEE2 ;}
    table#shopping-cart-table .a-moblie  .edit .edit-left ,
    table#shopping-cart-table .a-moblie  .edit .edit-right,
    table#shopping-cart-table .a-moblie  .edit .a-remove{ float: left ; width: 30px ; margin-right: 5px; }
    table#shopping-cart-table .a-center-mobile { float: left ;padding: 20px 0; }
    table#shopping-cart-table .a-right-mobile { float: left ;padding: 20px 0; text-align: left ;  }
    table#shopping-cart-table .a-center-mobile a.product-image {
        border: 1px solid #DEDEE2;
        display: inline-block;
        height: 88px;
        padding-top: 10px;
        text-align: center;
        float: left;
    }
    .cart .product-name a {font-size: 100% ;}
    .cart .btn-remove, .cart .btn-edit , #shopping-cart-table a.link-wishlist{line-height: 30px;}
    .footer-center-inner .row {margin: 0;}
    .cart .input-group { margin: 15px 0 0 ;}
    .cart-mobile .a-center { text-align: left ; float: left ;  width: 100% ;}
    .cart-mobile .a-center span { line-height: 30px;}
    .opc li {padding: 0;}

    .footer-center-inner .items { padding: 0;}

    /*.attribute-brands img {width: 60% ;}*/
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .grid-6 li {width: 100px ;}
}
@media (max-width: 480px) {
    .product-view .related-img-item .related-separator{
        display: block;
    }
    .product-view .related-img-item{
        width: 100%;
        text-align: center;
    }
}
@media only screen and (min-width: 400px) and (max-width: 600px) {

}
@media only screen and (min-width: 300px) and (max-width: 555px) {
    .product-img-box .more-views {display: none;}
    .product-img-box .more-views-horizontal {display: inline-block; margin-bottom: 20px;}
}
@media only screen and (min-width: 300px) and (max-width: 360px) {
    .product-img-box .more-views {display: none;}
    .product-img-box .more-views-horizontal {display: inline-block; margin-bottom: 20px;}
    .product-view .more-views-horizontal {width: 355px;}
    .product-img-box {padding: 0 2px;}
}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .top-banner li{width: 25% ;}
    .grid-5 li {width: 50% ;}
    .grid-6 {width: 300px; margin: 0 auto;}
    .grid-6 li {width: 100px ;}
    .top-banner li {height: 20px; margin: 20px  0; padding-right: 0;}
    .tabs  { padding: 0 ;}
    .slider-product-wrapper .nav-tabs li a {font-size: 70% ;}

    .form_register .fieldset { padding: 22px 0 12px ;}
    .account-login .account-create .form-list label {margin: 0;}

    .fields .field {width: 100% ;}
    .toolbar .toolbar-view {margin: 20px 0 0 ; float: left ;}

    .attribute-carousel-wrapper h2 {font-size: 160% !important;}


    .product-img-box .price-discount {left: 0 ;}
    .product-view .btn-cart {font-size: 130% ; margin: 20px 0 0;}

    a.logo img {max-width: 70% ; float: left ;}

    .top-banner em {
        background: url("../images/rep-icon.png") no-repeat scroll 0 0 ;
        width: 20px;
        height: 20px;
        margin: 0 5px 0 0;
    }
    .top-banner li a {padding: 0; line-height: 20px ; display: inline ; font-size: 55% ;}
    .top-banner .checkout em{background-position:0 0}
    .top-banner .checkout em:hover ,
    .top-banner .checkout:hover  em {background-position:0 -20px;}
    .top-banner .shipping em{background-position:-20px 0}
    .top-banner .shipping em:hover,
    .top-banner .shipping:hover  em{background-position:-20px -20px}
    .top-banner .return em{background-position:-40px 0}
    .top-banner .return em:hover,
    .top-banner .return:hover  em{background-position:-40px -20px ;}
    .top-banner .promo em{background-position:-60px 0 ;  width: 20px ;}
    .top-banner .promo em:hover,
    .top-banner .promo:hover  em{background-position:-60px -20px ;  width: 20px ; }
    .top-links {  line-height: 20px; padding: 5px 10px 0;}

    .header-top .header-top-inner {padding: 0;}
    .header-top .header-top-inner .col-lg-3 { position: absolute ; top: -16px; right: 15px; }
    .header-top .header-top-inner .col-lg-3 .header-top-right { float: right ; width: 60px; height: 30px;}
    .header-top .header-top-inner .col-lg-7  {margin: 0;}
    .header-mid { margin: -10px 0 0;}
    .toplogin .popover  { left: auto !important; right: -25px !important;}
    .toplogin .popover .arrow { left: 30px !important; }
    .top-cart .popover { left: auto !important; right: -10px !important;}
    .top-cart .popover .arrow {left: 80px !important;}
    .top-cart .cart-icon { background-image: url("../images/bgIcons-mobile.png"); background-position: 0 0 ; background-repeat: no-repeat ; height: 30px ; width: 30px  ; }
    .top-login .font .glyphicon { font-size: 100% ; line-height: 25px;}
    .top-login { width: 30px;}
    .top-cart {
        width: 30px;
        padding: 0;
        margin: 0;
    }
    #search_mini_form { margin: 0 ;}

    .navbar {margin: 0;}
    .product-view .product-img-box .product-image {
        min-height: 330px;
    }
    .product-shop h1 {font-size: 150% ;}
    .product-view .product-shop .right-desc p#product-price-total {width: 100% ; margin: 0 ;}
    .product-view .add-to-cart .add-bt {margin: 0 0 10px;}
    .product-view #product-related  , .product-view #product-description{padding: 0 30px ;}
    .product-view .btn-related.btn-addcart {margin: 0 0 20px;}
    .product-view #product-review {padding: 0;}
    .product-view .box-reviews {margin: 0;}

    .footer-center-inner {padding: 10px 0 0 ;}
    .footer-center .items .block em {background: url("../images/rep-icon.png") -88px 0 no-repeat ; width: 20px ; height: 20px; margin:-4px 12px 0 0  }
    .footer-bottom .block em {background: url("../images/rep-icon.png") -88px 0 no-repeat ; width: 20px ; height: 20px; margin:0 12px 0 0  }
    .footer-center .items .block.block-gt em{background-position:-88px 0;}
    .footer-center .items .block.block-hd em{background-position:-128px 0 ;}
    .footer-center .items .block.block-vc em{background-position:-108px 0 ;}
    .footer-center .items .block.block-address em{background-position:-33px -33px}
    .footer-center .items .block.block-service em{background-position: -108px -20px ;}
    .footer-center .items .block.block-cs em{background-position: -88px -20px ;}
    .footer-center .items .block.block-agree em{background-position:-148px 0;}
    .footer-center .items .widget-static-block {margin: auto ;}
    .footer-center .items .block.ft-tong-dai em { background-position: -128px -20px; }

    .footer-center-inner .items {margin: 0 0 10px;}
    .footer-bottom .items {margin: 0 ;}
    .footer-bottom .block em {background: url("../images/rep-icon.png") -148px -20px no-repeat }
    .footer-bottom .footer-bottom-inner {padding: 0;}

    .footer-bottom .block h3 {background: none ;  padding: 0;}

    .footer-top .footer-top-inner .col-lg-4 .block-subscribe { margin:20px auto 0;float: none !important;}
    .footer-top .footer-top-inner .col-lg-4 .block-subscribe .input-group .form-control {font-size: 70% ;}
    .footer-top .footer-top-inner .col-lg-4 .block-subscribe .input-group { margin: auto ; width: 80% ;}
    .fields .input-box input, .fields .input-box select {width: 250px;}

    .bordered .tab-pane .slide-2,.bordered .tab-pane .slide-3,.bordered .tab-pane .slide-4,.bordered .tab-pane .slide-5,
    .bordered .tab-pane .slide-6,.bordered .tab-pane .slide-7,.bordered .tab-pane .slide-8,.bordered .tab-pane .slide-9{
        display: none;
    }
}
