@media (min-width: 1200px) {

}
@media (min-width: 960px) and (max-width: 1200px) {
    .top-login { width: 47px;  float: right ; border: none;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ;outline: none; height: 47px ; display: inline-block ;}
    .top-login .font { padding: 0 12px; width: 23%; }
    .top-login .font .glyphicon { font-size: 170%; }
    .social-links li { margin: 0;   height: 25px;width: 23px;}
    .top-location .btn-group { float: right ; }
    .top-location i {left: 120px; }
    .top-cart { right: 0;}
    .header-top-right {width: 103px;}
    .sticky-wrapper .mt-menu-top {margin: 0 0 20px;}
    #megamenu ul li a {font-size: 70% !important;  padding: 0 5px 0 7px !important;}
    #megamenu div.childcontent ul li { padding: 0 !important;}
    #megamenu div.childcontent ul li a { font-size: 80% !important ; padding: 0 !important;}
    #megamenu div.childcontent ul li span.cat-summary {font-size: 80% !important; }
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ; padding-right: 12px !important;}

    .deals-wrapper li.deal-item .deal-item-inner {display: block;}
    .deals-wrapper li.deal-item .deal-item-inner .deal-item-percent {font-size: 30px ;}
    .deals-wrapper li.deal-item .deal-item-inner img  {width: 100% ;}

    .slider-product-wrapper .bordered-tab .title .btn-kid {font-size: 65% ;}
    .slider-product-wrapper .bordered-tab .title .btn-view {font-size: 90% ;}
    .slider-product-wrapper .nav-tabs li { padding: 0 5px 7px;}

    .sidebar .panel-heading h3 {font-size: 100% ;}

    .product-view .product-image {width: 81%;}
    .product-view .video-item ,
    .product-view .video-list { padding:0 ;}
    .product-view .video-item img { width: 30%;}
    .product-view .tracker {width: 367px !important; z-index: 999}

    .btn-login {font-size: 11px;}
    .table-striped > tbody > tr td .glyphicon { line-height: 0; display: inline ;}

    .footer-center .items .block em {margin: -8px 8px 0 0 ;}
    .footer-coppyright .footer-coppyright-inner address {font-size: 85% ;}
    .footer-coppyright-inner .social-links {margin: 0;}

    .popover {left:-105px !important;}
    .popover .arrow {left: 15px;}
    .toplogin .popover  { left: -105px !important;}
    .dropdown-menu {left: -25px;}

    .col-right .block-blogs li { padding: 14px 0;}

    .category-products > .btn-group a.btn-next {right: 0;}
    .products-grid .owl-wrapper-outer .owl-item .item .price-box .price {font-size: 12px;}
    .category-products > .btn-group a.btn-next { right : 0;}

}
@media (min-width: 980px) and (max-width: 1280px) {

    .top-banner {margin: 30px 0  ;}
    .top-banner li {text-align: left ; padding: 0;}
    .sticky-wrapper { float: none; display: inline; }

    .slider-product-wrapper .bordered-tab .title .utm-cookies {font-size: 70% ;  margin: 4px 2px 0px 0 !important; }
    .slider-product-wrapper .nav-tabs li { padding: 0 5px 7px;}
    .slider-product-wrapper .nav-tabs li a {font-size: 80%}

    .category-products .products-grid .product-name { font-size: 11px;}
    .footer-top .block-subscribe {float: left !important;margin: 20px 0 10px;}

    .cart {float: left ; width: 100% ;}

}
@media (min-width: 981px) and (max-iwdth: 1170px) {

}
@media (max-width: 980px) {

    .grid-5 li {width: 32%;}
    .header-top .header-top-inner .col-lg-6 {padding-left: 10px !important; margin: 0 0 20px;}
    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ;}
    .top-login .font { padding: 0 12px; width: 23%; }
    .top-location i {left: 180px;}
    .filter-item .badge {font-size: 60% ; padding: 2px;}
    .filter-item a.filter-item-name { font-size: 70%;}
    .sidebar .panel-info.list-js .panel-heading h3 { width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search { left: 0;  right: auto; top: 35px; width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search-icon {    right: 0;top: 26px;}
    .sidebar .panel-info.list-js  .panel-body {  padding: 30px 0 10px;}

    #megamenu ul li a {font-size: 51% !important;  padding: 0 5px 0 7px !important;}
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ;}
    .sticky-wrapper .mt-menu-top {margin: 0 0 20px;}

    .product-view .video-item,
    .product-view .video-list {padding : 10px;}
    .product-view .product-shop .page-title {float: left ;}


    .table-striped > tbody > tr td .glyphicon { line-height: 0; display: inline ;}

    table#checkout-review-table {
        outline:none;
        border:0;
    }
    table#checkout-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#checkout-review-table tr.last th.last { border-bottom:1px solid #dddddd; }
    table#super-product-table td{
        display:block;
        float:none;
        text-align:center;
        padding:5px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .header-top .header-top-inner .col-lg-6 {padding-left: 10px !important; margin: 0 0 20px;}
    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ;}
    .top-login .font { padding: 0 12px; width: 23%; }
    .toplogin .popover  { left: -5px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
    .top-location .btn-group { float: right ; }
    .top-location i {left: 170px; }
    .top-cart {display: inline-block; right: 0; width: 47px; left: auto;}
    .top-banner {margin: 30px 0  ;}
    .top-banner li {text-align: left ; padding: 0;}
    .sticky-wrapper {float: left ; }
    .header-top-right {width: 103px;}
    header .mt-menu-top {margin: 0 0 20px;}
    #megamenu ul li a {font-size: 51% !important;  padding: 0 5px 0 7px !important;}
    #megamenu div.childcontent ul li { padding: 0 !important;}
    #megamenu div.childcontent ul li a { font-size: 80% !important ; padding: 0 !important;}
    #megamenu div.childcontent ul li span.cat-summary {font-size: 80% !important; }
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ; padding-right: 12px !important;}

    .slider-product-wrapper .bordered-tab .title .utm-cookies {font-size: 50% ; line-height: 25px; padding: 2px 5px; margin: 4px 2px 0px 0 !important; }
    .slider-product-wrapper .nav-tabs li { padding: 0 2px 7px;}
    .slider-product-wrapper .nav-tabs li a {font-size: 80%}

    .deals-wrapper li.deal-item .deal-item-inner {display: block;}
    .deals-wrapper li.deal-item .deal-item-inner .deal-item-percent {font-size: 30px ;}
    .deals-wrapper li.deal-item .deal-item-inner img  {width: 100% ;}

    .grid-5 li {width: 32%;}
    .tabs {padding: 0;}

    .col-right .block-blogs li {padding: 10px 0;}

    .product-view .product-shop .page-title {float: left ;}

    .filter-item .badge {font-size: 60% ; padding: 2px;}
    .filter-item a.filter-item-name { font-size: 70%;}
    .sidebar .panel-info.list-js .panel-heading h3 { width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search { left: 0;  right: auto; top: 35px; width: 100% ;}
    .sidebar .panel-info.list-js .panel-heading .search-icon {    right: 0;top: 26px;}
    .sidebar .panel-info.list-js  .panel-body {  padding: 30px 0 10px;}

    .btn-login {font-size: 11px;}
    .account-login .buttons-set {padding: 20px 10px 42px ;}
    .account-login .account-create .form-list label { width: 30%;  }
    .account-login .buttons-set a.f-right {width: 75px; font-size: 65% ;}
    .col2-set-right .btn-login {padding: 4px;}
    #content {float: left; width :100% ;}

    .footer-coppyright-inner .social-links {float: left;}
    .footer-top .block-subscribe {margin: 20px 0 10px;float: left !important;   }

    .products-grid .owl-wrapper-outer .owl-item .item .product-name {margin: 10px 0 0;}
    .products-grid .owl-wrapper-outer .owl-item .item .price-box .old-price .price {font-size: 80%;}

    .table-striped > tbody > tr td .glyphicon { line-height: 0; display: inline ;}

    table#checkout-review-table {
        outline:none;
        border:0;
    }
    table#checkout-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#checkout-review-table tr.last th.last { border-bottom:1px solid #dddddd; }
    table#super-product-table td{
        display:block;
        float:none;
        text-align:center;
        padding:5px;
    }

    .product-view .product-shop {
        float: left;
        padding-left: 20px;
    }

    .col-right .block-blogs li a.img {width: 60px ;}
    .col-right .block-blogs li .right-blogs {
        float: left;
        width: 50%;
    }
    .header-mid .dropdown-menu {
        left: auto;
        right: 0px;
    }
    .products-grid .owl-wrapper-outer .owl-item .item .price-box .price {
        color: #FF3D70;
        font-size: 12px;
    }
}
@media (max-width: 900px) {
    .sticky-wrapper { float: none;}
}
@media (max-width: 767px) {
    .header-top .header-top-inner .col-lg-6 {padding-left: 10px !important; margin: 0 0 20px;}
    .top-login { width: 47px;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50% ; border: none ;}
    .toplogin .popover  { left: 10px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}
    .header-top-right {width: 105px;}
    .header-top-right .vr{border: none ;}
    .top-banner li {width: 50% ; text-align: left ;}
    .header-top-right {width: 103px;}
    .home-combo-carousel-wrapper  .owl-item .item .product-name {font-size: 12px;}
    .header-top .header-top-inner .col-lg-3 {margin: 20px 0 0 ;}
    .slider-product-wrapper .nav-tabs-wrapper .nav-tabs { float: left;}

    .header-top .header-top-inner .col-lg-6{ padding-left: 15px !important;}

    .product-view .product-shop {padding: 0 20px;}
    .login-form .col2-set-left {padding: 0 0 20px; }
    .tabs {padding: 0;}
    .slider-product-wrapper .bordered-tab .utm-cookies {height: 32px;}
    .toolbar {height: auto ;}
    .toolbar .toolbar-view {margin: 20px 0 0 ;}
    .footer-coppyright-inner .social-links {float: left; margin: 20px 0 0;}

    .cart .form-control {text-align: center ; }
    #wishlist-table .buttons-set { text-align: center ;}
    .cart .input-group {margin: 15px auto 0;}
    .cart tfoot .btn.btn-update {float: none !important ;}
    .cart tfoot .btn-ribbon {display: block ; text-align: center ; margin: auto ;}
    table#checkout-review-table {
        outline:none;
        border:0;
    }
    table#checkout-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#checkout-review-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#checkout-review-table tr.last th.last { border-bottom:1px solid #dddddd; }
    table#super-product-table td{
        display:block;
        float:none;
        text-align:center;
        padding:5px;
    }

    table#product-review-table {
        outline:none;
        border:0;
    }
    table#product-review-table td.last { border-right:1px solid #dddddd; }
    table#product-review-table td {  padding: 4px;}
    table#product-review-table td input.radio { }
    table#product-review-table th.last { border-right:1px solid #dddddd; }
    table#product-review-table th {
        display:block;
        float:none;
        text-align:center;
        border-right:0;
        border:1px solid #dddddd;
        padding:7px;
    }
    table#product-review-table tr.last td { border-bottom:1px solid #dddddd; }
    table#product-review-table tr.last th { border-bottom:1px solid #dddddd; }
    .table-bordered td {
        border-left:1px solid #dddddd;
        border-right:1px solid #dddddd;
    }
    .table-bordered th {
        border-left:1px solid #dddddd;
        border-right:1px solid #dddddd;
    }
    table { width:100%; }
    table#wishlist-table {
        outline:none;
        border:0;
    }
    table#wishlist-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#wishlist-table th table#product-review-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#my-orders-table {
        outline:none;
        border:0;
    }
    table#my-orders-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#my-orders-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#my-orders-table tr.last td.last { border-bottom:1px solid #dddddd; }
    table#shopping-cart-table {
        outline:none;
        border:0;
    }
    table#shopping-cart-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#shopping-cart-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#multiship-addresses-table {
        outline:none;
        border:0;
    }
    table#multiship-addresses-table td {
        display:block;
        float:none;
        text-align:center;
    }
    table#multiship-addresses-table th {
        display:block;
        float:none;
        text-align:center;
    }
    table#multiship-addresses-table  select { padding: 0 ;}
    .multiple-checkout h3, .multiple-checkout h4 { font-size: 70%}
    .cart #shopping-cart-table .button.btn-empty {float: none ;}
    .cart #shopping-cart-table .button {
        display: inline;
        float: none;
        margin-left: 10px;
        margin-top: 10px;
    }
    .checkout-progress li {width: 100% ; margin: 0 0 10px ;}
    #multiship-addresses-table td .btn-remove2 { display: inline-block ;}
    .opc li { padding-left: 0;}

    .footer-top .footer-top-inner .col-lg-4 .block-subscribe {float: left !important;}
    .footer-center-inner .items {margin: 0 0 20px;}

    .product-view .btn-cart {font-size: 140% ; margin: 20px 0 0;}
}
@media only screen and (max-width: 767px) and (min-width: 480px) {

}
@media (max-width: 480px) {

}
@media only screen and (min-width: 400px) and (max-width: 600px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .top-banner li ,
    .grid-5 li {width: 100% ;}
    .tabs  { padding: 0 ;}
    .slider-product-wrapper .nav-tabs li a {font-size: 70% ;}

    .form_register .fieldset { padding: 22px 0 12px ;}
    .account-login .account-create .form-list label {margin: 0;}

    .fields .field {width: 100% ;}
    .toolbar .toolbar-view {margin: 20px 0 0 ; float: left ;}

    .attribute-carousel-wrapper h2 {font-size: 160% !important;}
    .toplogin .popover  { left: 10px !important;}
    .toplogin .popover .arrow { left: -45px !important;}
    .top-cart .popover { left: -60px !important;}
    .top-cart .popover .arrow {left: -20px !important;}

    .product-img-box .price-discount {left: 0 ;}
    .product-view .btn-cart {font-size: 130% ; margin: 20px 0 0;}
}
