@media (min-width: 1200px) {

}
@media (min-width: 960px) and (max-width: 1200px) {
    .top-login { width: 160px; float: right ;}
    .top-login .font .glyphicon { font-size: 170%; }
    .social-links li { margin: 0;   height: 25px;width: 23px;}
    .top-location .btn-group { float: right ; }
    .top-location i {left: 120px; }

    #megamenu ul li a {font-size: 10px !important;  padding: 0 5px 0 7px !important;}
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}

    .deals-wrapper li.deal-item .deal-item-inner {display: block;}
    .deals-wrapper li.deal-item .deal-item-inner .deal-item-percent {font-size: 30px ;}
    .deals-wrapper li.deal-item .deal-item-inner img  {width: 100% ;}

    .slider-product-wrapper .bordered-tab .title .btn-kid {font-size: 65% ; padding: 5px;}
    .slider-product-wrapper .bordered-tab .title .btn-view {font-size: 90% ; padding: 5px;}
    .slider-product-wrapper .nav-tabs li { padding: 0 8px 7px;}


    .footer-center .items .block em {margin: -8px 8px 0 0 ;}
    .footer-coppyright .footer-coppyright-inner address {font-size: 85% ;}
    .footer-coppyright-inner .social-links {margin: 0;}
}
@media (min-width: 980px) and (max-width: 1280px) {
    .top-banner {margin: 30px 0  ;}
    .top-banner li {text-align: left ; padding: 0;}
    .sticky-wrapper { float: none; display: inline; }

    #megamenu ul li a {font-size: 51% !important;  padding: 0 5px 0 7px !important;}
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ;}
    .sticky-wrapper .mt-menu-top {margin: 0 0 20px;}

    .slider-product-wrapper .bordered-tab .title .btn-kid {font-size: 45% ; padding: 5px;}
    .slider-product-wrapper .bordered-tab .title .btn-view {font-size: 62% ; padding: 5px;}
    .slider-product-wrapper .nav-tabs li { padding: 0 8px 7px;}
    .slider-product-wrapper .nav-tabs li a {font-size: 80%}

}
@media (min-width: 981px) and (max-iwdth: 1170px) {

}
@media (max-width: 980px) {
    .grid-5 li {width: 32%;}
    .top-login { float: left !important;width: 160px; margin: 20px 0 0;}
}
@media (min-width: 768px) and (max-width: 979px) {
    .top-login {float: left !important; margin: 10px 0 0 ; }
    .top-location .btn-group { float: right ; }
    .top-location i {left: 170px; }
    .top-cart {right: 10px;}
    .top-banner {margin: 30px 0  ;}
    .top-banner li {text-align: left ; padding: 0;}
    .sticky-wrapper {float: left ; }

    #megamenu ul li a {font-size: 51% !important;  padding: 0 5px 0 7px !important;}
    #megamenu li.root > div.childcontent { width: 100% !important ;}
    #megamenu div.childcontent ul { width: 30% !important;}
    #megamenu ul li.level-0 > a span { background: url("../images/icon-menu-parent.png") no-repeat scroll 100% 3px ;}

    .slider-product-wrapper .bordered-tab .title .btn-kid {font-size: 45% ; padding: 5px;}
    .slider-product-wrapper .bordered-tab .title .btn-view {font-size: 62% ; padding: 5px;}
    .slider-product-wrapper .nav-tabs li { padding: 0 8px 7px;}
    .slider-product-wrapper .nav-tabs li a {font-size: 80%}

    .deals-wrapper li.deal-item .deal-item-inner {display: block;}
    .deals-wrapper li.deal-item .deal-item-inner .deal-item-percent {font-size: 30px ;}
    .deals-wrapper li.deal-item .deal-item-inner img  {width: 100% ;}

    .grid-5 li {width: 32%;}

    .footer-coppyright-inner .social-links {float: left;}
    .footer-top .block-subscribe {margin: 20px 0 10px;float: left !important;   }
}
@media (max-width: 900px) {
    .sticky-wrapper {
        float: none;
    }
}
@media (max-width: 767px) {
    .top-banner li {width: 50% ; text-align: left ;}
    .slider-product-wrapper .nav-tabs-wrapper .nav-tabs { float: left;}
}
@media only screen and (max-width: 767px) and (min-width: 480px) {

}
@media (max-width: 480px) {

}
@media only screen and (min-width: 400px) and (max-width: 600px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}
@media only screen and (min-width: 320px) and (max-width: 480px) {

}
