<?xml version="1.0"?>
<!--
/**
 *
 * @category     MT
 * @package      MT_Review
 *
 * @copyright    Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
 * @license      GNU General Public License version 2 or later;
 * @author       MagentoThemes.net
 * @email        support@magentothemes.net
 **
 */
 -->
<config>
    <modules>
        <MT_Review>
            <version>2.2.0</version>
        </MT_Review>
    </modules>
    <global>
        <models>
            <mtreview>
                <class>MT_Review_Model</class>
                <resourceModel>mtreview_resource</resourceModel>
            </mtreview>
            <mtreview_resource>
                <class>MT_Review_Model_Resource</class>
                <deprecatedNode>review_mysql4</deprecatedNode>
                <entities>
                    <review>
                        <table>review</table>
                    </review>
                    <review_detail>
                        <table>mt_review_detail</table>
                    </review_detail>
                    <review_helpfulness>
                        <table>mt_review_helpfulness</table>
                    </review_helpfulness>
                    <review_report>
                        <table>mt_review_report</table>
                    </review_report>
                    <review_comment>
                        <table>mt_review_comment</table>
                    </review_comment>
                    <review_status>
                        <table>review_status</table>
                    </review_status>
                    <review_entity>
                        <table>review_entity</table>
                    </review_entity>
                    <review_aggregate>
                        <table>review_entity_summary</table>
                    </review_aggregate>
                    <review_store>
                        <table>review_store</table>
                    </review_store>
                </entities>
            </mtreview_resource>
            <!--<mtreview>
                <class>MT_Review_Model</class>
                <resourceModel>review_mysql4</resourceModel>
            </mtreview>
            <mtreview_mysql4>
                <class>MT_Review_Model_Mysql4</class>
                <entities>
                    <review>
                        <table>review</table>
                    </review>
                    <review_detail>
                        <table>mt_review_detail</table>
                    </review_detail>
                    <review_status>
                        <table>review_status</table>
                    </review_status>
                    <review_entity>
                        <table>review_entity</table>
                    </review_entity>
                    <review_aggregate>
                        <table>review_entity_summary</table>
                    </review_aggregate>
                    <review_store>
                        <table>review_store</table>
                    </review_store>
                </entities>
            </mtreview_mysql4>-->
        </models>
        <resources>
            <mtreview_setup>
                <setup>
                    <module>MT_Review</module>
                </setup>
            </mtreview_setup>
        </resources>
        <blocks>
            <mtreview>
                <class>MT_Review_Block</class>
            </mtreview>
        </blocks>
        <helpers>
            <mtreview>
                <class>MT_Review_Helper</class>
            </mtreview>
        </helpers>
        <resources>
            <mtreview_setup>
                <setup>
                    <module>MT_Review</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mtreview_setup>
            <mtreview_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mtreview_write>
            <mtreview_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mtreview_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <mtreview>
                <use>standard</use>
                <args>
                    <module>MT_Review</module>
                    <frontName>mtreview</frontName>
                </args>
            </mtreview>
        </routers>
        <layout>
            <updates>
                <mtreview>
                    <file>mt_review.xml</file>
                </mtreview>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <mtreview>
                <use>admin</use>
                <args>
                    <module>MT_Review</module>
                    <frontName>mtreview</frontName>
                </args>
            </mtreview>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mtreview>
                    <file>mt_review.xml</file>
                </mtreview>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mtreview>
            <display_options>
                <show_ordering>1</show_ordering>
                <show_helpfulness>1</show_helpfulness>
                <show_reply>1</show_reply>
                <show_report>1</show_report>
                <show_allmylinks>1</show_allmylinks>
            </display_options>
            <access_options>
                <allow_only_logged>0</allow_only_logged>
                <allow_only_logged_vote>0</allow_only_logged_vote>
                <allow_only_logged_reply>0</allow_only_logged_reply>
                <allow_only_logged_report>0</allow_only_logged_report>
            </access_options>
            <ordering_options>
                <items_per_page>5,10</items_per_page>
                <default_sorter>desc</default_sorter>
                <ordering_items>created_at,rating,helpfulness</ordering_items>
            </ordering_options>
        </mtreview>
    </default>
</config>