<?xml version="1.0"?>
<config>
    <modules>
        <MT_Customer>
            <version>2.0.0</version>
        </MT_Customer>
    </modules>
    <global>
        <fieldsets>
            <customer_account>
                <flavour>
                    <create>1</create>
                    <update>1</update>
                </flavour>
            </customer_account>
        </fieldsets>
        <resources>
            <mt_customer_setup>
                <setup>
                    <module>MT_Customer</module>
                    <class>MT_Customer_Model_Entity_Setup</class>
                </setup>
            </mt_customer_setup>
        </resources>
    </global>
</config>