<?xml version="1.0"?>
<!--
/**
* @category    MT
* @package     MT_KidsPlaza
* @copyright   Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
* @license     GNU General Public License version 2 or later
* @author      MagentoThemes.net
* @email       support@magentothemes.net
*/
-->
<config>
    <modules>
        <MT_KidsPlaza>
            <version>1.1</version>
        </MT_KidsPlaza>
    </modules>

    <global>
        <helpers>
            <kidsplaza>
                <class>MT_KidsPlaza_Helper</class>
            </kidsplaza>
        </helpers>
        <blocks>
            <kidsplaza>
                <class>MT_KidsPlaza_Block</class>
            </kidsplaza>
        </blocks>
        <resources>
            <kidsplaza>
                <setup>
                    <module>MT_KidsPlaza</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kidsplaza>
        </resources>
    </global>
</config>