<?xml version="1.0"?>
<!--
/**
 *
 * @category     MT
 * @package      MT_ProductQuestions
 *
 * @copyright    Copyright (C) 2008-2013 MagentoThemes.net. All Rights Reserved.
 * @license      GNU General Public License version 2 or later;
 * @author       MagentoThemes.net
 * @email        support@magentothemes.net
 **
 */
 -->
<config>
    <modules>
        <MT_ProductQuestions>
            <version>2.2.0</version>
        </MT_ProductQuestions>
    </modules>
    <global>
        <models>
            <productquestions>
                <class>MT_ProductQuestions_Model</class>
                <resourceModel>productquestions_resource</resourceModel>
            </productquestions>
            <productquestions_resource>
                <class>MT_ProductQuestions_Model_Resource</class>
                <deprecatedNode>review_mysql4</deprecatedNode>
                <entities>
                    <questions>
                        <table>mt_product_questions</table>
                    </questions>
                    <questions_store>
                        <table>review_store</table>
                    </questions_store>
                </entities>
            </productquestions_resource>
        </models>
        <resources>
            <productquestions_setup>
                <setup>
                    <module>MT_ProductQuestions</module>
                </setup>
            </productquestions_setup>
        </resources>
        <blocks>
            <productquestions>
                <class>MT_ProductQuestions_Block</class>
            </productquestions>
        </blocks>
        <helpers>
            <productquestions>
                <class>MT_ProductQuestions_Helper</class>
            </productquestions>
        </helpers>
        <resources>
            <productquestions_setup>
                <setup>
                    <module>MT_ProductQuestions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productquestions_setup>
            <productquestions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productquestions_write>
            <productquestions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productquestions_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <productquestions>
                <use>standard</use>
                <args>
                    <module>MT_ProductQuestions</module>
                    <frontName>productquestions</frontName>
                </args>
            </productquestions>
        </routers>
        <layout>
            <updates>
                <productquestions>
                    <file>mt_productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <productquestions>
                <use>admin</use>
                <args>
                    <module>MT_ProductQuestions</module>
                    <frontName>productquestions</frontName>
                </args>
            </productquestions>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productquestions>
                    <file>mt_productquestions.xml</file>
                </productquestions>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <productquestions>
            <display_options>
                <show_ordering>1</show_ordering>
                <show_helpfulness>1</show_helpfulness>
                <show_reply>1</show_reply>
                <show_report>1</show_report>
                <show_allmylinks>1</show_allmylinks>
            </display_options>
            <access_options>
                <allow_only_logged>0</allow_only_logged>
                <allow_only_logged_vote>0</allow_only_logged_vote>
                <allow_only_logged_reply>0</allow_only_logged_reply>
                <allow_only_logged_report>0</allow_only_logged_report>
            </access_options>
            <ordering_options>
                <items_per_page>5,10</items_per_page>
                <default_sorter>desc</default_sorter>
                <ordering_items>created_at,rating,helpfulness</ordering_items>
            </ordering_options>
        </productquestions>
    </default>
</config>