.mt-review-footer {
    display: block;
    overflow: hidden;
    position: relative;
}
.mt-review-footer .mt-helpful, .mt-review-footer .mt-inappropriate {
    position: relative;
    right: 0;
    width: 50%;
    float: left;
}
.mt-review-footer .mt-inappropriate {
    text-align: right;
    float: right;
}
.mt-review-footer .mt-inappropriate .mt-inside {
    width: 30%;
    display: block;
    overflow: hidden;
    float: right;
}
.mt-review-footer .mt-inappropriate .mt-reply {
    float: left;
    width: 50%;
}
.mt-review-footer .mt-inappropriate .mt-report {
    float: left;
    width: 50%;
}
.mt-review-footer .comment-box {
    width: 100%;
    float: left;
    margin: 10px 0 15px 0;
}
.mt-review-footer .comment-box textarea {
    margin-bottom: 10px;
    width: 99%;
    height: 50px;
}
.mt-review-footer .btt-submit-review{
    width: 130px;
    float: left;
}
.mt-helpful .loading {
    background: url(../images/ajax-loader.gif) no-repeat left top;
    height: 16px;
    width: 16px;
    float: left;
}
.mt-helpful .total-helpfull {
    display: block;
    padding-bottom: 5px;
}
.mt-report .loading {
    background: url(../images/ajax-loader.gif) no-repeat left top;
    height: 16px;
    width: 16px;
    float: left;
    margin-left: 24px;
}
.comment-loading {
    background: url(../images/ajax-loader.gif) no-repeat left top;
    display: none;
    height: 16px;
    width: 16px;
    float: right;
}
.mt-review-footer .mt-comments-list {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    border-top: #dfdfdf solid 1px;
}
.mt-review-footer .mt-comments-list .mt-title {
    font-weight: bold;
    padding: 10px 0 0 15px;
}
.mt-review-footer .mt-comments-list .main-comments {
    padding: 10px 0 10px 15px;
}
.mt-review-footer .mt-comments-list .main-comments .item-comment {
    border-bottom: #dfdfdf solid 1px;
    margin-bottom: 10px;
}
.mt-reported {
    color: #e26703;
}
.main-progress {
    width: 100%;
    float: left;
}
.rating-summary-block .main-progress .review-rating-total {
    width: 100%;
    float: left;
}
.review-sum-total, .rating-summary-block {
    border-right: #dfdfdf solid 1px;
    min-height: 150px;
}
.rating-summary-block .main-progress .rating-name {
    width: 100%;
    float: left;
    margin-bottom: 3px;
    padding-bottom: 5px;
    font-weight: bold;
}
.rating-summary-block .main-progress .rating-num {
    float: left;
    width: 15%;
}
.rating-summary-block .main-progress .progress {
    float: left;
    width: 75%;
}
.rating-summary-block .main-progress .rating-num-total {
    float: left;
    width: 10%;
    padding-left: 10px;
}
.ratings-table .rating-item {
    text-align: center;
    padding: 10px 0;
    margin-right: 12px;
}
.rating-item .rating-name, .rating-item .all-total {
    text-align: center;
    font-weight: bold;
}
.review-sum-total p, .average-rating h3 {
    text-align: center;
}
.average-rating h3 {
    text-align: center;
    margin-right: 10px;
    padding-bottom: 2px;
    margin-top: 0px;
    font-size: 120%;
}
.review-sum-total p{
    padding-top: 10px;
    font-weight: bold;
}
.rating-item .all-total {
    font-size: 30px;
    color: red;
}
.rating-item .rating-box {
    margin: 0 auto;
    float: none;
}
.product-collateral .box-collateral {
    margin-top: 10px;
}
.mt-review-main {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    overflow: hidden;
    position: relative;
    padding: 14px 40px 20px;
    border-style: solid;
}
.mt-review-main .form-add {
    margin-top: 20px;
}
.mt-review-main .form-add .your-review {
    border-bottom: #dfdfdf solid 1px;
    font-size: 120%;
    display: block;
    font-weight: bold;
}
.mt-review-main .form-add h3 {
    font-size: 100%;
}
.write-review-button {
    text-align: center;
    padding-top: 30px;
}
.product-view .box-reviews {
    margin-top: 20px;
}
.main-progress .progress {
    margin-bottom: 10px;
}